<a href="https://colab.research.google.com/github/Whaleman0423/-Python-book-practice/blob/main/%E7%B2%BE%E9%80%9APython/%E7%B2%BE%E9%80%9APython%E7%AC%AC7%E7%AB%A00928.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_tuple = ()
empty_tuple

()

In [ ]:
one_mark = "Groucho",
one_mark

In [ ]:
# or
one_mark = ("Groucho",)
one_mark

In [ ]:
# 省略逗號 將不會得到 tuple
one_mark = ("Groucho")
# one_mark
type(one_mark)

In [ ]:
marx_tuple = "Groucho", "Chico", "Harpo"
marx_tuple

In [ ]:
# 定義 tuple 加上括號 會比較好辨認出 也不容易出錯
marx_tuple = ("Groucho", "Chico", "Harpo")
marx_tuple

In [ ]:
one_mark = "Groucho",
type(one_mark)

In [ ]:
type("Groucho")

In [ ]:
type("Groucho",)

str

In [ ]:
type(("Groucho",))

tuple

In [ ]:
type(("Groucho"))

str

In [ ]:
marx_tuple = ("Groucho", "Chico", "Harpo")
a, b, c = marx_tuple
# a
# b
# c
# type(a)

# 此作法叫作 拆包 unpacking

In [ ]:
# 使用 tuple 來調值
password = "swordfish"
icecream = "tuttifrutti"
password, icecream = icecream, password
# password
icecream

In [ ]:
# tuple()
marx_list = ["Groucho", "Chico", "Harpo"]
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

In [ ]:
t = ("Groucho",) + ("Chico", "Harpo") # 第一個tuple 裡面記得家逗號, 
t

('Groucho', 'Chico', 'Harpo')

In [ ]:
("yada",)*5

('yada', 'yada', 'yada', 'yada', 'yada')

In [ ]:
a = (7, 2)
b = (7, 2, 9)
# a == b
# a <= b
# a >= b
# a < b
# a > b

False

In [ ]:
# for in 
words = ("fresh", "out", "of", "ideas")
for word in words:
  print(word)

fresh
out
of
ideas

In [ ]:
# 修改？？
t1 = ("Fee", "Fie", "Foe")
t2 = ("Flop",)
print("t1 id：", id(t1))
# t1 + t2
t1 += t2
# print("t1 id：", id(t1)
t1

t1 id： 139891886997088

('Fee', 'Fie', 'Foe', 'Flop')

In [ ]:
# 集合 =>不會重複
{"a", "b", "b"}

{'a', 'b'}

In [ ]:
x = "abcde"
y = ["a", "b", "c", "d", "e"]
z = {"a", "b", "c", "d", "e"}
w = ("a", "b", "c", "d", "e")
v = {"a":1, "b":2, "c":3, "d":4, "e":5}

# list_str = list(x)  # 字串轉list
# list_str

# list_set = list(z)  # 集合轉list
# list_set

# list_tup = list(w)  # tuple轉list
# list_tup

# list_dict = list(v)  # # 字典轉list 取鍵
# list_dict

['a', 'b', 'c', 'd', 'e']

In [ ]:
# 字串 = > 串列 split
today = "2021/10/07"
list_today = today.split("/")
list_today

['2021', '10', '07']

In [ ]:
# 若有連續多個分隔字串 => 串列項目會有空字串
stupid_str = "a///s////dekgv/df/n/"
list_stu = stupid_str.split("/")
list_stu

['a', '', '', 's', '', '', '', 'dekgv', 'df', 'n', '']

In [ ]:
stupid_str.split("//")

['a', '/s', '', 'dekgv/df/n/']

In [ ]:
# offset "adsfd"[offset] or [清單][offset]
y = ["a", "b", "c", "d", "e"]
# y[0]
# y[1]
# y[-1]
# y[:3]
# y[2:]
# y[::2]
# y[::-2]
# y[::-1]

# y.reverse()
# y

# slice可指定無效的索引 ，但不會造成例外錯誤 會回傳最接近有效的結果 或是空的結果
# y[10:]
# y[-20:]
# y[-23:-3]
# y[-44:-10]

[]

In [ ]:
# append => 加項目到結尾
marxes = ["Groucho", "Chico", "Harpo"]
marxes.append("Zeppo")
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [ ]:
# insert 
marxes = ["Groucho", "Chico", "Harpo"]
marxes.insert(2, "Gummo")
marxes
marxes.insert(20, "last_one")
marxes

['Groucho', 'Chico', 'Gummo', 'Harpo', 'last_one']

In [ ]:
["locking"] * 3

['locking', 'locking', 'locking']

In [ ]:
# 運用 extend 或 + 來結合串列
marxes = ["Groucho", "Chico", "Harpo", "Zeppo"]
others = ["Gummo", "Karl"]
# marxes.extend(others)
# marxes += others
# marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [ ]:
# 利用[offset]來更改一個項目
marxes = ["Groucho", "Chico", "Harpo", "Zeppo"]
marxes[3] = "Betty"
marxes

['Groucho', 'Chico', 'Harpo', 'Betty']

In [ ]:
# 用 slice 改變項目
numbers = [1, 2, 3, 4]
numbers[1:3] = [8, 9]
numbers

[1, 8, 9, 4]

In [ ]:
# 指派的不需要與 slice 一樣多
numbers = [1, 2, 3, 4]
numbers[1:3] = [7, 8, 9]
numbers

[1, 7, 8, 9, 4]

In [ ]:
numbers = [1, 2, 3, 4]
numbers[1:3] = []
numbers

[1, 4]

In [ ]:
# 右邊的東西不一定要是串列
numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
numbers

[1, 98, 99, 100, 4]

In [ ]:
# 右邊的東西甚至可以是一個串列
numbers = [1, 2, 3, 4]
numbers[1:3] = "what?"
numbers

[1, 'w', 'h', 'a', 't', '?', 4]

In [ ]:
# 用 del 和 offset 來刪除一個項目
marxes = ["A", "B", "C", "D", "E"]

del marxes[-1]  # 刪除 marxes 最後一項
marxes

['A', 'B', 'C', 'D']

In [ ]:
# 刪除串列中指定的項目，後面的項目會向前遞補
marxes = ["A", "B", "C", "D", "E"]
del marxes[1]
marxes

['A', 'C', 'D', 'E']

In [ ]:
# del 是Python的陳述式 非串列方法 不得使用 list.del()  =>這是錯的

In [ ]:
# 透過 remove 來刪除項目 => 不用考慮項目在串列中的位置
marxes = ["A", "B", "C", "D", "E"]
marxes.remove("C")
marxes

['A', 'B', 'D', 'E']

In [ ]:
# pop 的應用
marxes = ["A", "B", "C", "D", "E"]
pop_out1 = marxes.pop()
print(pop_out)
marxes
pop_out2 = marxes.pop(0)
print(pop_out2)
marxes

E
A

['B', 'C', 'D']

In [ ]:
# pop(0) => 先進先出
# pop() => 後進先出

In [ ]:
# 用 clear() 清除所有項目
Chinese = ["我愛你", "你愛我", "她愛她"]
print(Chinese)
Chinese.clear()
Chinese

['我愛你', '你愛我', '她愛她']

[]

In [ ]:
# 用 index 找出項目的 offset
Chinese = ["我愛你", "你愛我", "她愛她", "吃果子", "拜樹頭", "你愛我"]
print(Chinese.index("吃果子"))

# 若是該項目在串列中超過一個，則會回傳第一個的 offset
print(Chinese.index("你愛我"))

## 若是沒有該項目 則會顯示錯誤
# print(Chinese.index("誰誰誰"))

3
1

In [ ]:
# 使用 in 來檢測值是不存在
Chinese = ["我愛你", "你愛我", "她愛她", "吃果子", "拜樹頭", "你愛我"]

if "我愛你" in Chinese:
  print("我愛你在Chinese裡面")
else:
  print("串列無此值")

print("拜樹頭" in Chinese)
print("誰誰誰" in Chinese)
print("你愛我" in Chinese)

我愛你在Chinese裡面
True
False
True

In [ ]:
# 用 count 來計算一個值的出現次數
Chinese = ["我愛你", "你愛我", "她愛她", "吃果子", "拜樹頭", "你愛我"]
print(Chinese.count("你愛我"))
print(Chinese.count("誰誰誰"))

2
0

In [ ]:
# 用 join來將 串列轉換成字串  串列 => 字串  注意：join 是字串的方法
Chinese = ["我愛你", "你愛我", "她愛她", "吃果子", "拜樹頭", "你愛我"]
print(" ， ".join(Chinese))  # 將Chinese 轉換成 字串 輸出一個字串
A = " *** ".join(Chinese)
print(Chinese)  # Chinese 仍然是一個串列
A

我愛你 ， 你愛我 ， 她愛她 ， 吃果子 ， 拜樹頭 ， 你愛我
['我愛你', '你愛我', '她愛她', '吃果子', '拜樹頭', '你愛我']

'我愛你 *** 你愛我 *** 她愛她 *** 吃果子 *** 拜樹頭 *** 你愛我'

In [ ]:
# split 和 join 互為相反   split 和 join 都是字串方法
Chinese = ["我愛你", "你愛我", "她愛她", "吃果子", "拜樹頭", "你愛我"]

sep = " ** "

# 將串列 => 字串
joined = sep.join(Chinese)
print(joined)

# 將字串 => 串列
spl = joined.split(sep)
print(spl)

# 檢驗是否回到原本的串列
print(spl == Chinese)

我愛你 ** 你愛我 ** 她愛她 ** 吃果子 ** 拜樹頭 ** 你愛我
['我愛你', '你愛我', '她愛她', '吃果子', '拜樹頭', '你愛我']
True

In [ ]:
Line = ["Zebra", "elephant", "beach", "conjection", "micro", "acer"]
sorted_line = sorted(Line)  # 大寫排第一、之後按 a～z 排序 
print(sorted_line)    # 新串列
print(Line)   # 原串列不變

print()

# 串列.sort() 換改變串列本身
Line.sort()
print(Line)

['Zebra', 'acer', 'beach', 'conjection', 'elephant', 'micro']
['Zebra', 'elephant', 'beach', 'conjection', 'micro', 'acer']

['Zebra', 'acer', 'beach', 'conjection', 'elephant', 'micro']

In [ ]:
# sort 運用在數字排列 
numbers = [121, 235, 1, 999, 7, 100.0]
print(sorted(numbers))

[1, 7, 100.0, 121, 235, 999]

In [ ]:
# sort 預設是升序 由小到大
# 加上 reverse
numbers = [121, 235, 1, 999, 7, 100.0]

numbers.sort(reverse=True) # True => 由大至小
print(numbers)

numbers = sorted(numbers, reverse=False)
print(numbers)

numbers = sorted(numbers, reverse=True)
print(numbers)

[999, 235, 121, 100.0, 7, 1]
[1, 7, 100.0, 121, 235, 999]
[999, 235, 121, 100.0, 7, 1]

In [ ]:
# len 回傳串列中項目的數量
ABC = ["A", "B", "C", "D"]
print(len(ABC))

4

In [ ]:
# 用 = 來賦值 
a = [1, 2, 3]
print(a)

print()

b = a 
print(b)

print()

a[0] = "surprise"
print(a)

print(b)  # => b也跟著改變

print()

# 這次改變 b 的值 看看 a 會不會跟著變
b[1] = "I hate Surprise."
print(b)
print(a)  # 一起改變了

[1, 2, 3]

[1, 2, 3]

['surprise', 2, 3]
['surprise', 2, 3]

['surprise', 'I hate Surprise.', 3]
['surprise', 'I hate Surprise.', 3]

In [ ]:
# 複製一個新的串列 透過 copy()、list()、slice[:]
a = [1, 2, 3, 4, 5, 6]

b = a.copy()

c = list(a)

d = a[:]

print(a, b, c, d, sep="\n\n")

print("----------------------------------------------")
# 改變 a 不會影響 b c d
a[1] = "exexe"

print(a, b, c, d, sep="\n\n")

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
----------------------------------------------
[1, 'exexe', 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# deepcopy
a = [1, 2, [8, 9]]
b = a.copy()
c = list(a)
d = a[:]
print(a, b, c, d, sep="\n\n")

print("--------------------------------")

a[2][1] = "串列中串列改變會如何"  # => 一起改變了 該如何解決 ?
print(a, b, c, d, sep="\n\n")

[1, 2, [8, 9]]

[1, 2, [8, 9]]

[1, 2, [8, 9]]

[1, 2, [8, 9]]
--------------------------------
[1, 2, [8, '串列中串列改變會如何']]

[1, 2, [8, '串列中串列改變會如何']]

[1, 2, [8, '串列中串列改變會如何']]

[1, 2, [8, '串列中串列改變會如何']]

In [ ]:
# 用 deepcopy 解決  
import copy   # deepcopy 屬於 copy 涵式庫
a = [1, 2, [8, 9]]
b = copy.deepcopy(a)
print(a, b, sep="\n\n")
print("===== a 改變後 =========")
a[2][1] = "a 串列中串列改變了"
print(a, b, sep="\n\n")

[1, 2, [8, 9]]

[1, 2, [8, 9]]
===== a 改變後 =========
[1, 2, [8, 'a 串列中串列改變了']]

[1, 2, [8, 9]]

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3, 4]
print("a == b", a == b)
print("a >= b", a >= b)
print("a <= b", a <= b)
print("a < b", a < b)

a == b False
a >= b False
a <= b True
a < b True

In [ ]:
names = ["大帥哥", "周杰倫", "姚明", "王建名", "麥可"]
for name in names:
  print(name)

大帥哥
周杰倫
姚明
王建名
麥可

In [ ]:
names = ["大帥哥", "周杰倫", "姚明", "王建名", "麥可"]
for name in names:
  if name == "姚明":
    print("姚明不是帥哥，所以終止迴圈。")
    break
  print(name)

大帥哥
周杰倫
姚明不是帥哥，所以終止迴圈。

In [ ]:
names = ["大帥哥", "周杰倫", "姚明", "王建名", "麥可"]
for name in names:
  if name == "姚明":
    print("姚明不是帥哥，所以跳過姚明。")
    continue
  print(name)

大帥哥
周杰倫
姚明不是帥哥，所以跳過姚明。
王建名
麥可

In [ ]:
cheeses = ["brief", "gjetost", "havarti"]
for cheese in cheeses:
  if cheese.startswith('x'):
    print("I won't eat anything that starts with 'x'.")
    break
  else:
    print(cheese)
else:
  print("Didn't find anything that started with 'x'.")

brief
gjetost
havarti
Didn't find anything that started with 'x'.

In [ ]:
# 如果最初的 for 從未執行，控制流程也會跑到 else
cheeses = []
for cheese in cheeses:
  print("this shop has some lovely", cheese)
  break
else: # 沒有 break 代表沒有 cheese
  print("這家店沒有賣起司啊 ?")

這家店沒有賣起司啊 ?

In [ ]:
# 使用 zip 來迭代多個序列
days = ["星期一", "星期二", "星期三"]
fruits = ["香蕉", "柳橙", "桃子"]
drinks = ["咖啡", "茶", "啤酒"]
desserts = ["冰淇淋", "布丁", "提拉米蘇", "抹茶蛋糕", "香蕉派"]

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": 喝", drink, "- 吃", fruit, "- 享受", dessert)
# 沒有人吃的到 抹茶蛋糕 和 香蕉派

星期一 : 喝 咖啡 - 吃 香蕉 - 享受 冰淇淋
星期二 : 喝 茶 - 吃 柳橙 - 享受 布丁
星期三 : 喝 啤酒 - 吃 桃子 - 享受 提拉米蘇

In [ ]:
# zip 應用
eng = ["Monday", "Tuesday", "Wednesday"]
chi = ["星期一", "星期二", "星期三"]
print(list(zip(chi, eng)))

print("----換成中英字典----")

dict1 = dict(list(zip(chi, eng)))
print("中英翻:", dict1)

[('星期一', 'Monday'), ('星期二', 'Tuesday'), ('星期三', 'Wednesday')]
----換成中英字典----
中英翻: {'星期一': 'Monday', '星期二': 'Tuesday', '星期三': 'Wednesday'}

In [ ]:
eng = ["Monday", "Tuesday", "Wednesday"]
chi = ["星期一", "星期二", "星期三"]
print(zip(chi, eng))  # => zip 物件

<zip object at 0x7f3163c3a0a0>

In [ ]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
numbers.append(5)
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
numbers = []
for num in range(1, 6):
  numbers.append(num)
numbers

[1, 2, 3, 4, 5]

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
### 串列生成式
numbers = [number for number in range(1,6)]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
numbers = [number-1 for number in range(1,6)]
print(numbers)

[0, 1, 2, 3, 4]

In [ ]:
# 在串列生成式中，放入條件式  => 較快
odd_nums = [number for number in range(1,10) if number % 2 == 1]  # 如果是奇數
print(odd_nums)

[1, 3, 5, 7, 9]

In [ ]:
# 一般作法 => 較慢
odd_nums = []
for number in range(1, 10):
  if number % 2 == 1:
    odd_nums.append(number)
print(odd_nums)

[1, 3, 5, 7, 9]

In [ ]:
# 傳統迴圈中迴圈
rows = range(1,5)
cols = range(1,4)
for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [ ]:
# 串列生成式中的 迴圈中迴圈
rows = range(1,5)
cols = range(1,4)
cells = [(row, col) for row in rows for col in cols]
print(cells)

print("==============================================================================")

for cell in cells:
  print(cell)

print("===================================拆包 tuple =====================================")
for row, col in cells:
  print(row, col)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3), (4, 1), (4, 2), (4, 3)]
==============================================================================
(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)
(4, 1)
(4, 2)
(4, 3)
===================================拆包 tuple =====================================
1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [ ]:
# 進階串列生成式 for + 條件式 + for + 條件式 or  for + for + if ...
rows = range(1,10)
cols = range(1,9)
# cells = [(row, col) for row in rows if row % 2 == 0 for col in cols if col % 2 == 1]
# cells = [(row, col) for row in rows for col in cols if col % 2 == 1 if row % 2 == 0 ]
cells = [(row, col) for row in rows for col in cols if col % 2 == 1 and row % 2 == 0 ]

for row, col in cells:
  print(row, col)

2 1
2 3
2 5
2 7
4 1
4 3
4 5
4 7
6 1
6 3
6 5
6 7
8 1
8 3
8 5
8 7

In [ ]:
# 串列中串列
a = [1, 2, 3]
b = ["A", "B", "C"]
c = ["我", "好", "帥"]
d = [a, b, "哈哈哈", c]
print(d)

[[1, 2, 3], ['A', 'B', 'C'], '哈哈哈', ['我', '好', '帥']]

In [ ]:
# 串列中串列的模樣
a = [1, 2, 3]
b = ["A", "B", "C"]
c = ["我", "好", "帥"]
d = [a, b, "哈哈哈", c]

# for i in range(len(d)):
#   print(d[i], end="\n")

for i in range(len(d)):
  for x in range(len(d[i])):
    print(d[i][x], end="\n")

1
2
3
A
B
C
哈
哈
哈
我
好
帥